# `READ ME`:

<ul>
    <li>Primeira avaliação dos documentos para automatização da <code>KPM</code></li>
    <li>[Primeiro site] maersk: <a href="https://www.maersk.com/" target="_blank">Link</a></li>
    <li>[Segundo site] mycmacgm: <a href="https://www.cma-cgm.com/my-cma-cgm" target="_blank">Link</a></li>
    <li>[Terceiro site] hapag-lloyd: <a href="https://www.hapag-lloyd.com/en/home.html" target="_blank">Link</a></li>
    <li>[Quarto site] one-ocean network express: <a href="https://br.one-line.com/pt-br" target="_blank">Link</a></li>
    <li>[Quinto site] hamburg: <a href="https://www.hamburgsud.com/" target="_blank">Link</a></li>
</ul>
<hr>

In [27]:
import pandas as pd

path = "material/planilha.xlsx"

df = pd.read_excel(io=path, skiprows=1, usecols=lambda column: column not in ["Date"])
df.head()

,Company,Ports,Origin,Incoterm,Vietnam,Philippines,Japan,Singapore,Colombia,Thailand,...,Barbados,Bahamas,Dominican Republic,Cape Verde,Haiti,Grenada,Canary Islands,Taiti,Coluna1,TRADER
0,Cis Van den Broeck,Antwerp,Belgium,EXW,0.147037,0.15463,0.116667,0.081481,0.220000,0.23,...,0.231067,0.281884,0.165630,0.153607,0.242010,0.322559,0.000000,0.337930,NaN,NaN
1,40 Reefer,Santos,Brazil,EXW,0.250000,0.30393,0.269711,0.253374,0.329171,0.25,...,0.311782,0.411782,0.000000,0.381593,0.381414,0.396967,0.223444,0.323407,NaN,NaN
2,40 Reefer,Suape,Brazil,EXW,0.356370,0.35637,0.370407,0.317593,0.329563,0.00,...,0.000000,0.000000,0.000000,0.300000,0.381610,0.000000,0.234889,0.000000,NaN,NaN
3,"HYLIFE Neepawa, CA",Montreal,Canada,EXW,0.143074,0.18363,0.225926,0.128815,0.181481,0.22,...,0.263000,0.296111,0.134778,0.343222,0.371952,0.000000,0.157741,0.000000,NaN,NaN
4,"Ariztía, CL",San Antonio,Chile,EXW,0.208556,0.00000,0.510000,0.055630,0.250000,0.31,...,0.000000,0.000000,0.168430,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN